#snapup{
    .snapup-title{
        padding-left:1rem;
        height:2rem;
        background:#FFC0CB;
        color:#000;
        font:1rem/2rem "";
        .icon-clock{
            color:red;
            display: inline-block;
            margin-right: 1rem;
        }
    }
    .snapup-produce{
     padding-left:1rem;
      overflow: hidden;
    }
    .snapup-detail{
        margin-right: 1rem;
        width:5rem;
        height:12rem;
        float:left;
        img{
            width:5rem;
            text-align: center;
        }
        .snapup-detail-title{
            width:100%;
            height:3rem;
            overflow: hidden;
            font:1rem/1.5rem "";
        }
        .snapup-nowprice{
            span{
                color:red;
            }
        }
    }
}