#shopcart{
    .shopcart-title{
        font:1rem/3rem "";
        overflow: hidden;
        height:3rem;
        background:#ffccff;
        .icon-back{
            float: left;
            display: inline-block;
            color:red;
            width:1rem;
            font-size:1rem;
        }
    }
    .shopcart-tabletitle{
        overflow: hidden;
    }
    .shopcart-produce{
        overflow: hidden;
        margin-bottom:1rem;
    }
    .shopcart-common{
        text-align: center;
        float:left;
        width:5rem;
        height:4rem;
        font:1rem/2rem "";
        img{
            width:5rem;
            height:4rem;
        }     
    }
    .shopcart-name{
        overflow: hidden;
    }
    .shopcart-topinfo{
        overflow: hidden;
    }
    .shopcart-totalnum{
        float: left;
        font:1rem/3rem "";
        span{
            color:red;
        }
    }
    .shopcart-totalprice{
        font:1rem/3rem "";
        float: right;
        span{
            color:red;
        }
    }
}

.shopcart-pagination{
    text-align: center;
    .shopcart-pagenum{
        display: inline-block;
        width:2rem;
        height:2rem;
        border:1px solid #000;
        font:1rem/2rem "";
        color:#fff;
        background: #666;
    }
}